extends template.jade

block content
	.dbeaver-info
		.wrapper
			1
	.main-info
		.main-info__row
			.main-info__item
				img(src="img/main-1.jpg", alt="")
				h3 Features
				p Easily manage your cloud with your team by inviting others and setting access permissions. Easily manage your cloud with your team by inviting others and setting access permissions
			.main-info__item
				img(src="img/main-1.jpg", alt="")
				h3 Support
				p Easily manage your cloud with your team by inviting others and setting access permissions.
			.main-info__item
				img(src="img/main-1.jpg", alt="")
				h3 Сommunity edition
				p Easily manage your cloud with your team by inviting others and setting access permissions.
		.main-info__row
			.main-info__item
				img(src="img/main-1.jpg", alt="")
				h3 Developers
				p Easily manage your cloud with your team by inviting others and setting access permissions.
			.main-info__item
				img(src="img/main-1.jpg", alt="")
				h3 Database Administrators
				p Easily manage your cloud with your team by inviting others and setting access permissions.
			.main-info__item
				img(src="img/main-1.jpg", alt="")
				h3 Analysts
				p Easily manage your cloud with your team by inviting others and setting access permissions.
	.using
		h2 Ready to use universal data base tool?
		a.btn.btn--trial-black(href="") Trial
		a.btn.btn--purchase(href="") Purchase
