extends template.jade

block content
	main.bd-top
		.wrapper
			.login-page
				h1 Sign In to DBeaver
				.login-form
					h2 Log In
					form(action="")
						input(type="email" name="" class="input-sign" placeholder="Email Address")
						input(type="password" name="" class="input-sign" placeholder="Password")
						input(type="submit" value="Log in" class="submit")
						a(href="") Forgot password?
				p Don’t have an account? 
					a(href="") Sign Up
