doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title DBeaver
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/slick.css")
		link(rel="stylesheet", href="css/slick-theme.css")
		link(rel="stylesheet", href="css/dbeaver.css")
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
		script(src="js/slick.min.js")
		script(src="js/dbeaver.js")
	body
		.main-content
			header
				.wrapper.header-info
					.logo-menu
						.logo
							a(href="index.html") 
								img(src="img/logo.png", alt="")
						.main-menu
							ul.main-menu-1level
								li.menu-arrow
									a(href="") About
									ul.main-menu-2level
										li
											a(href="") Overview
										li
											a(href="") License
										li
											a(href="") Contributors
										li
											a(href="") Contacts
								li
									a(href="download.html") Download
								li.active
									a(href="") Purchase
								li
									a(href="") Support
								li
									a(href="") Customers
								li
									a(href="") Company
					.registration
						a(href="").login Log in
						a.btn.btn--sign-up(href="") sign up
							
			main
				block content

		footer
			.wrapper.footer-menu
				ul.footer-menu-1level
					li.menu-arrow
						a(href="") About
						ul.footer-menu-2level
							li
								a(href="") First Item
							li
								a(href="") Second Item
							li
								a(href="") Third Item
					li 
						a(href="") Download
						ul.footer-menu-2level
							li
								a(href="") First Item
							li
								a(href="") Second Item
							li
								a(href="") Third Item
					li 
						a(href="") Purchase
						ul.footer-menu-2level
							li
								a(href="") First Item
							li
								a(href="") Second Item
							li
								a(href="") Third Item
					li
						a(href="") Support
					li
						a(href="") Customers
					li
						a(href="") Company
				.footer-copyright-small-menu
					.footer-copyright
						p &copy; 2017 DBeaver
					.footer-small-menu 
						ul
							li
								a(href="") Terms
							li
								a(href="") Privacy
							li
								a(href="") Support
