body {
	color: #372822;
	width: 100%;
	height: 100vh;
	font: 400 14px/1 Roboto, Arial, sans-serif;
}
.wrapper {
	width: 100%;
	max-width: 1160px;
	margin: 0 auto;
}
.main-content {
	min-height: -webkit-calc(100vh - 210px);
	min-height: -moz-calc(100vh - 210px);
	min-height: calc(100vh - 210px);
	position: relative;
	min-width: 1160px;
}
h1,
h2,
h3,
h4,
p {
	margin: 0;
	padding: 0;
}
h2 {
	font-size: 40px;
	font-weight: 300;
}
a {
	color: #ff9f00;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
.lnk-transition {
	-webkit-transition: .5s;
	transition: .5s;
}
.btn {
	font-size: 13px;
	text-transform: uppercase;
	padding: 17px 43px;
	font-weight: 700;
	border-radius: 3px;
	margin: 0 10px;
	@extend .lnk-transition;
	&:hover {
		text-decoration: none;
	}
}
.btn--purchase {
	background-color: #11c628;
	color: #fff;
	border: 1px solid #11c628;
	&:hover {
		background-color: #00a715;
		border-color: #00a715;
	}
}
.btn--black {
	border: 1px solid #000;
	color: #000;
	background-color: #fff;
	&:hover {
		color: #11c628;
		border-color: #11c628;
	}
}
.btn--white {
	border: 1px solid #fff;
	color: #fff;
	background-color: #cebdac;
	&:hover {
		border-color: #372822;
		color: #372822;
	}
}
.btn--sign-up {
	color: #fff;
	background-color: #ff9f00;
	&:hover {
		background-color: #e48e01;
	}
}
.login {
	color: #372822;
	margin-right: 15px;
	font-size: 15px;
	&:hover {
		text-decoration: none;
	}
}
header {
	background-color: #fff;
	height: 110px;
}
.header-info {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
	padding: 23px 0 16px;
}
.logo-menu {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-align-items: center;
	align-items: center;
}
.main-menu {
	li {
		list-style: none;
	}
	a {
		font-size: 15px;
		color: #372822;
		font-weight: 300;
		@extend .lnk-transition;
		&:hover {
			color: #ff9f00;
			text-decoration: none;
			&:after {
				background: url(../img/arrow-right-active.svg) 0 0 no-repeat;
				background-size: 6px 12px;
				@extend .lnk-transition;
			}
		}
	}
}
.main-menu-1level {
	margin: 5px 0 0;
	padding: 0;
	>li {
		float: left;
		margin: 0 5px 0 35px;
		padding: 0 0 10px;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			height: 3px;
			left: -15px;
			right: -15px;
			top: 38px;
			background-color: #fff;
		}
		&.active {
			a {
				color: #ff9f00;
			}
			&:after {
				background-color: #ff9f00;
			}
		}
		&:hover {
			.main-menu-2level {
				display: block;
			}
		}
	}
}
.menu-arrow {
	>a {
		position: relative;
		padding-right: 22px;
		&:after {
			content: '';
			position: absolute;
			width: 10px;
			height: 12px;
			background: url('../img/arrow-right.svg') 0 0 no-repeat;
			background-size: 6px 12px;
			-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
			margin: 4px 0 0 11px;
		}
	}
}
.main-menu-2level {
	display: none;
	position: absolute;
	padding: 25px 55px 14px 17px;
	margin: 11px 0 0 0;
	border: 1px solid #ecdac8;
	border-radius: 3px;
	background-color: #fff;
	z-index: 1;
	li {
		padding: 0;
		margin: 0 0 14px;
	}
	&:before {
		content: '';
		position: absolute;
		top: -7px;
		left: 10px;
	}
	&:before {
		width: 10px;
		height: 10px;
		background-color: #fff;
		border-top: 1px solid #ecdac8;
		border-left: 1px solid #ecdac8;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}
.registration {
	margin-right: -10px;
}
.dbeaver-info {
	background-color: #cebdac;
	height: 380px;
	padding: 30px 0;
	box-sizing: border-box;
}
.dbeaver-text-slider {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.dbeaver-text {
	width: 490px;
	padding-top: 10px;
	h1 {
		font-size: 64px;
		color: #fff;
		font-weight: 700;
		margin-bottom: 35px;
	}
	p {
		font-size: 17px;
		color: #fff;
		line-height: 1.4;
		margin-bottom: 48px;
	}
}
.dbeaver-lnk {
	margin-left: -10px;
	padding-top: 17px;
}
.dbeaver-slider {
	width: 450px;
	.slick-dots {
		li {
			background-color: #fff;
			border: 1px solid #fff;
			width: 7px;
			height: 7px;
			border-radius: 50%;
			margin: 0 8px;
		}
		.slick-active {
			background-color: transparent;
			border: 1px solid #fff;
		}
		button:before {
			content: '';
		}
	}
}
.main-info {
	&__row {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		padding: 80px 0;
		&:nth-child(even) {
			background-color: #f5f4f4;
		}
	}
	&__item {
		width: 33%;
		text-align: center;
	}
	img {
		margin-bottom: 30px;
	}
	h3 {
		font-size: 20px;
		font-weight: 300;
		margin-bottom: 10px;
	}
	p {
		max-width: 200px;
		margin: 0 auto;
		font-weight: 300;
		line-height: 1.5;
	}
}
.using {
	padding: 80px 0 100px;
	text-align: center;
	h2 {
		margin-bottom: 75px;
	}
}
footer {
	background-color: #cebdac;
	height: 210px;
	padding: 30px 0;
	box-sizing: border-box;
}
.footer-menu {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-flow: column wrap;
	flex-flow: column wrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	height: 150px;
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style: none;
	}
	.footer-menu-2level {
		margin-top: 10px;
	}
}
.footer-menu-1level {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	a {
		color: #372822;
		font-size: 14px;
		&:hover {
			text-decoration: none;
		}
	}
	>li {
		width: 200px;
		border-left: 1px solid rgba(255,255,255,.2);
		padding-left: 20px;
		&:first-child {
			border-left: none;
			padding-left: 0;
		}
	}
}
.footer-menu-2level {
	a {
		color: #fff;
		font-size: 13px;
		line-height: 1.4;
		&:hover {
			text-decoration: underline;
		}
	}
}
.footer-copyright-small-menu {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	justify-content: space-between;
	color: rgba(255,255,255,.5);
	a {
		color: rgba(255,255,255,.5);
	}
}
.footer-small-menu {
	ul {
		padding: 0;
		margin: 0;
	}
	li {
		list-style: none;
		float: left;
		margin-left: 10px;
		a {
			&:hover {
				text-decoration: none;
			}
		}
	}
}
